div {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
}

.containerLink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}